<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog | Ruby on Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

    <%= render "components/navigation" %>

    <div class="col-md-10 col-md-offset-1">
      <%= yield %>
    </div>
  </body>
</html>
